.producto-uno {
  background-color: #f6f4e7;
  height: 100vh;
}

.producto-uno::before {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 480px;
  background-color: #ece0cd;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

.producto-uno-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 4rem;
  margin-block: 2rem;
}

.container-imagenes {
  display: flex;
  gap: 1rem;
}

.producto-uno-container h2 {
  font-size: 3.5rem;
  text-align: center;
}
