.carousel {
  overflow: hidden;
  width: 1400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item--visible {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  animation: fadeVisibility 0.5s;
}

/* .carousel .carousel__item--visible img {
  width: 300px;
  height: 300px;
} */

.carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.carousel__actions button {
  border-radius: 0.5rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 300px;
}

.carousel__actions button#carousel__button--prev {
  margin-left: 40px;
  background-color: white;
}

.carousel__actions button#carousel__button--next {
  margin-right: 40px;
  background-color: #ece0cd;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.carousel__item-uno .contenedor-imagenes {
  display: flex;
  gap: 3rem;
}

.imagen-item-uno {
  width: 300px;
  height: 300px;
}

.carousel__item-dos div {
  text-align: center;
}

.carousel__item-dos div h2 {
  margin-bottom: 0;
}

.carousel__item-dos div p,
.carousel__item-tres div p {
  font-size: 2rem;
  margin: 0;
}

.imagen-item-dos,
.imagen-item-tres {
  width: 600px;
  height: 300px;
}

.carousel__item-tres img {
  grid-column: 2 / 3;
}

.carousel__item-tres div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.titulo {
  width: 700px;
  text-align: center;
}

.titulo h2 {
  font-size: 4rem;
}
