<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/components/header.css" />
    <link rel="stylesheet" href="../styles/components/footer.css" />
    <link rel="stylesheet" href="../styles/components/carousel.css" />
    <link
      rel="stylesheet"
      href="../styles/pages/diseña-con-nosotros.style.css"
    />
    <title>Casa MD</title>
  </head>
  <body>
    <header>
      <div class="container-header container">
        <figure class="logo">
          <img src="/assets/images/logo.PNG" alt="logo" class="" />
        </figure>
        <nav class="site-nav">
          <button
            class="menu-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
          >
            <span class="visually-hidden">Menu</span>
            <div class="hamburger" aria-hidden="true"></div>
          </button>

          <ul
            data-state="closed"
            class="primary-navigation"
            id="primary-navigation"
          >
            <li>
              <a href="/index.html"
                ><i class="fa fa-home site-nav--icon"></i>inicio</a
              >
            </li>
            <li>
              <a href="diseña-con-nosotros.page.html"
                ><i class="fa fa-info site-nav--icon"></i>diseña con nosotros</a
              >
            </li>
            <li>
              <a href="productos.page.html"
                ><i class="fa fa-pencil site-nav--icon"></i>productos</a
              >
            </li>
            <li>
              <a href="nosotros.page.html"
                ><i class="fa fa-usd site-nav--icon"></i>nosotros</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="formulario-contenedor container">
        <h2>
          Con casa MD, tienes la oportunidad de diseñar tu ambiente soñado.
        </h2>
        <div class="formulario">
          <p>
            Para ello hemos destinado un espacio donde podras contarnos sobre ti
            y compartir ideas.
          </p>
          <form>
            <div class="inputs">
              <label>
                <input type="text" placeholder="Nombres y apellidos" />
              </label>
              <label>
                <input type="text" placeholder="Celular" />
              </label>
              <label>
                <input type="email" placeholder="E-mail" />
              </label>
            </div>
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Mensaje"
            ></textarea>
            <button type="submit" class="enviar">Enviar</button>
          </form>
        </div>
      </section>
      <section class="tu-propio-diseño container">
        <img src="../assets/images/diseña-con-nosotros.jpeg" alt="" />
        <p>Además, puedes crear tu propio diseño en pasos muy cortos.</p>
        <a href="nosotros-uno.html" class="click-aqui">¡Click Aqui!</a>
      </section>
    </main>
    <footer>
      <div class="footer-container container">
        <div class="logo-footer-container">
          <figure class="logo-footer">
            <img src="/assets/images/logo.PNG" alt="logo" />
          </figure>
          <p>Somos Fabricantes Somos Diseñadores Somos Familia</p>
        </div>
        <nav class="nav-footer">
          <ul class="listado-nav-footer">
            <li><a href="#">e-mail</a></li>
            <li><a href="#">servicios</a></li>
            <li><a href="#">campaña</a></li>
            <li><a href="#">nosotros</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script src="app/app.js" />
  </body>
</html>
