<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/components/header.css" />
    <link rel="stylesheet" href="../styles/components/footer.css" />
    <link rel="stylesheet" href="../styles/components/carousel.css" />
    <link rel="stylesheet" href="../styles/pages/nosotros.style.css" />
    <title>Casa MD</title>
  </head>
  <body>
    <header>
      <div class="container-header container">
        <figure class="logo">
          <img src="/assets/images/logo.PNG" alt="logo" class="" />
        </figure>
        <nav class="site-nav">
          <button
            class="menu-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
          >
            <span class="visually-hidden">Menu</span>
            <div class="hamburger" aria-hidden="true"></div>
          </button>

          <ul
            data-state="closed"
            class="primary-navigation"
            id="primary-navigation"
          >
            <li>
              <a href="/index.html"
                ><i class="fa fa-home site-nav--icon"></i>inicio</a
              >
            </li>
            <li>
              <a href="diseña-con-nosotros.page.html"
                ><i class="fa fa-info site-nav--icon"></i>diseña con nosotros</a
              >
            </li>
            <li>
              <a href="productos.page.html"
                ><i class="fa fa-pencil site-nav--icon"></i>productos</a
              >
            </li>
            <li>
              <a href="nosotros.page.html"
                ><i class="fa fa-usd site-nav--icon"></i>nosotros</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="nosotros container">
        <h2>sobre casa md</h2>
        <p>
          CASA MD, es una empresa dedicada a la elaboración de mobiliarios hecho
          en acero inoxidable, con un año de antiguedad, periodo en el que hemos
          logrado consolidar 14 clientes, quienes apoyan nuestro esfuerzo,
          satisfaciendo sus requerimientos y garantizando los mejores
          resultados. Hemos apostado por el diseño de mobiliarios hechos en
          acero, integrando la funcionalidad, estética y durabilidad. Basándonos
          en el mejor proceso de preparación de los materiales, siendo el acero
          pirncipal, procurando que tenga mayor resistencia.
        </p>
        <p>
          CASA MD, es una empresa familiar, que nació debido a la necesidad de
          encontrar un almacén donde se lograran encontrar muebles y artículos
          para el hogar hecho en acero, pero con diseños exclusivos para cada
          cliente, pensando en la personalidad y estilo de vida de cada uno.
        </p>

        <div class="equipo-trabajo">
          <h2>nuestro equipo de trabajo</h2>
          <div class="integrantes">
            <div class="integrante">
              <img src="../assets/images/margy-matorel.jpeg" alt="" />
              <p>Margy Matorel</p>
            </div>
            <div class="integrante">
              <img src="../assets/images/Ana-lucia.jpeg" alt="" />
              <p>Ana Lucía Garrido</p>
            </div>
            <div class="integrante">
              <img src="../assets/images/jesus.jpeg" alt="" />
              <p>Jesús Quiñonez</p>
            </div>
          </div>
        </div>

        <p>
          Apuestan por un liderazgo inpirador y nuevas formas de trabajo para
          alcanzar una mayour agilidad y una gestión más eficiente
        </p>
      </section>
    </main>
    <footer>
      <div class="footer-container container">
        <div class="logo-footer-container">
          <figure class="logo-footer">
            <img src="/assets/images/logo.PNG" alt="logo" />
          </figure>
          <p>Somos Fabricantes Somos Diseñadores Somos Familia</p>
        </div>
        <nav class="nav-footer">
          <ul class="listado-nav-footer">
            <li><a href="#">e-mail</a></li>
            <li><a href="#">servicios</a></li>
            <li><a href="#">campaña</a></li>
            <li><a href="#">nosotros</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script src="app/app.js" />
  </body>
</html>
